<h2>{{id}}: {{title}} <small>{{category}}</small></h2>
<p>{{description}}</p>
{{#link "measures"}}back to measures listing{{/link}}



{{template "measure_criteria/measure_criteria" populationCriteria=population_criteria dataCriteria=data_criteria}}


